emacs.d/backups/
emacs.d/elpa/
emacs.d/.mc-lists.el
emacs.d/.recentf
emacs.d/.smex-items
emacs.d/auto-save-list
emacs.d/layouts
emacs.d/tramp
emacs.d/url
emacs.d/vendor
emacs.d/workspace
emacs.d/projectile.cache
emacs.d/ido.last
emacs.d/magithub

sbt/0.13/plugins/target
sbt/0.13/plugins/project
sbt/1.0/plugins/target
sbt/1.0/plugins/project
sbt/1.0/target
sbt/1.0/project
sbt/1.0/zinc
sbt/preloaded
sbt/boot

config/chromium/
