[submodule "mu"]
	path = emacs.d/vendor/mu
	url = git@github.com:djcb/mu.git
[submodule "emacs-slack"]
	path = emacs.d/vendor/emacs-slack
	url = git@github.com:mattusifer/emacs-slack.git
[submodule "spotify"]
	path = emacs.d/vendor/spotify
	url = git@github.com:danielfm/spotify.el.git
