[submodule "mu"]
	path = emacs.d/vendor/mu
	url = git@github.com:djcb/mu.git
[submodule "emacs-slack"]
	path = emacs.d/vendor/emacs-slack
	url = git@github.com:mattusifer/emacs-slack.git
[submodule "emacs.d/vendor/spotify"]
	path = emacs.d/vendor/spotify
	url = git@github.com:mattusifer/spotify.el.git
[submodule "emacs-async"]
	path = emacs.d/vendor/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "yasnippet-snippets"]
	path = emacs.d/vendor/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "emacs.d/vendor/pytest-el"]
	path = emacs.d/vendor/pytest-el
	url = git@github.com:ionrock/pytest-el.git
